<%= form_with(model: project, id: "project_form") do |form| %>

  <div class="row m-3">
    <div class=" col-md-5 text-center container">
      <% if project.errors.any? %>
        <div class="text-warning">
          <% project.errors.each do |error| %>
            <p><%= error.full_message %></p>
          <% end %>
        </div>
      <% end %>
      <div>
        <%= form.label :title, class: "control-label" %>
        <%= form.text_field :title, class: "form-control" %>
      </div>
      <p></p>
      <div>
        <%= form.label :description, class: "control-label" %>
        <%= form.text_area :description, class: "form-control" %>
      </div>
      <p></p>
      <button type="submit" class="btn btn-outline-secondary mb-3">Save Project</button>
    </div>
  </div>
<% end %>
